<div class="text-center">
  <div class="form-group">
    <label for="exampleFormControlInput1">メールアドレス</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="example@example.com">
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">セレクトボックス</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>選択肢1</option>
      <option>選択肢2</option>
      <option>選択肢3</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">テキストエリア</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</div>