<div class="btn-group">
 <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-indent fa-lg" style="color: #07058f;"></i></button>#ボタングループ１
 <div class="dropdown-menu">
  <a class="dropdown-item"><%#= link_to リンク_path do %><i class="fas fa-desktop fa-lg" style="color: #07058f;"></i>テキスト</a>#ボタングループ１の中身
  <%# end %>
  <a class="dropdown-item"><%#= link_to リンク_path do %><i class="fas fa-chess fa-lg" style="color: #07058f;"></i>テキスト</a>#ボタングループ１の中身
  <%# end %>
 </div>
</div>
<div clas="btn-group">
 <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-pencil-alt fa-lg" style="color: #07058f;"></i></button>#ボタングループ2
 <div class="dropdown-menu">
 <a class="dropdown-item"><%#= link_to リンク_path do %><i class="fas fa-desktop fa-lg" style="color: #07058f;"></i>テキスト</a>#ボタングループ2の中身
<%# end %>
 <a class="dropdown-item"><%#= link_to リンク_path do %><i class="fas fa-chess fa-lg" style="color: #07058f;"></i>テキスト</a>#ボタングループ2の中身
<%# end %>
 </div>
</div>
